.pr-bg {
  background-color: map-get($colors, 'teal-500');
}

.sc-bg {
  background-color: map-get($colors, 'cyan-500');
}

.pr-font {
  font-family: $pr-font;
}

.sc-font {
  font-family: $sc-font;
  letter-spacing: 1.4px;
}

.fixed-modal-header {
  position: fixed;
  top: 50px;
  /* A header felső része 50px-re lesz a lap tetejétől */
  width: 100%;
  background-color: #ffffff;
  /* A fixált header háttérszíne */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Árnyék példa */
  z-index: 1000;
  /* Magasabb z-index érték, hogy a fixált header felül legyen */
}

.option-after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  height: 25px;
  width: 25px;
  ;
  background-color: red;
}


.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  opacity: 0.7;

  &-text {
    width: 100%;
    height: 0.5rem;
    margin-bottom: 0.25rem;
    border-radius: 0.125rem;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}






// Dark theme settings
[data-bs-theme=dark] {
  @each $name, $color in $colors {
    .dark-bg-#{$name} {
      background-color: map-get($colors, $name) !important;
    }

    .dark-bg-hover-#{$name} {
      &:hover {
        background-color: map-get($colors, $name) !important;
      }
    }

    .dark-text-#{$name} {
      color: map-get($colors, $name) !important;
    }

    .dark-border-#{$name} {
      border-color: map-get($colors, $name) !important;
    }
  }
}

// Light theme settings
[data-bs-theme=light] {
  @each $name, $color in $colors {
    .light-bg-#{$name} {
      background-color: map-get($colors, $name) !important;
    }

    .light-bg-hover-#{$name} {
      &:hover {
        background-color: map-get($colors, $name) !important;
      }

    }

    .light-text-#{$name} {
      color: map-get($colors, $name) !important;
    }



    .light-border-#{$name} {
      border-color: map-get($colors, $name) !important;
    }
  }
}








// Generate utility classes
@each $size, $value in $font-sizes {
  .text-#{$size} {
    font-size: $value;
  }
}

@each $size, $value in $line-heights {
  .leading-#{$size} {
    line-height: $value;
  }
}


// SET height, width, min-h, min-w, max-h, max-w by $sizes
// Generate utility classes
// Generate utility classes for heights
@each $size, $value in $heights {
  .h-#{$size} {
    height: $value;
  }

  .min-h-#{$size} {
    min-height: $value;
  }

  .max-h-#{$size} {
    max-height: $value;
  }
}

// Generate utility classes for widths
@each $size, $value in $widths {
  .w-#{$size} {
    width: $value;
  }

  .min-w-#{$size} {
    min-width: $value;
  }

  .max-w-#{$size} {
    max-width: $value;
  }
}



// SET background color by $colors IN _vars.scss
@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color !important;
  }
}


// SET border-color  by $colors IN _vars.scss

@each $name, $color in $colors {
  .border-#{$name} {
    border-color: $color !important;
  }
}


// SET color  by $colors IN _vars.scss

@each $name, $color in $colors {
  .#{$name} {
    color: $color;
  }
}



// SET hover-bg  by $colors IN _vars.scss

@each $name, $color in $colors {
  .hover-bg-#{$name} {
    &:hover {
      background-color: $color !important; // Vagy más hover effektus
    }
  }
}


// SET hover-color  by $colors IN _vars.scss

@each $name, $color in $colors {
  .hover-#{$name} {
    &:hover {
      color: $color; // Vagy más hover effektus
    }
  }
}




// SET hover-border-color  by $colors IN _vars.scss

@each $name, $color in $colors {
  .hover-border-#{$name} {
    &:hover {
      border-color: $color !important; // Vagy más hover effektus
    }
  }
}

// SET transitions  by $transitions IN _vars.scss

@each $name, $transition in $transitions {
  .transition-#{$name} {

    transition: $transition; // Vagy más hover effektus

  }
}


// SET margins by $margins
@each $type, $values in $margins {
  @each $suffix, $size in $values {
    .#{$type}-#{$suffix} {
      @if ($type =="m") {
        margin: $size;
      }

      @else if ($type =="mt") {
        margin-top: $size;
      }

      @else if ($type =="mb") {
        margin-bottom: $size;
      }

      @else if ($type =="mr") {
        margin-right: $size;
      }

      @else if ($type =="ml") {
        margin-left: $size;
      }

      @else if ($type =="my") {
        margin-block: $size;
      }

      @else if ($type =="mx") {
        margin-inline: $size;
      }
    }
  }
}


// SET paddings by $paddings

@each $type, $values in $paddingValues {
  @each $suffix, $size in $values {
    .#{$type}-#{$suffix} {
      @if ($type =="p") {
        padding: $size;
      }

      @else if ($type =="pt") {
        padding-top: $size;
      }

      @else if ($type =="pb") {
        padding-bottom: $size;
      }

      @else if ($type =="pr") {
        padding-right: $size;
      }

      @else if ($type =="pl") {
        padding-left: $size;
      }

      @else if ($type =="py") {
        padding-block: $size;
      }

      @else if ($type =="px") {
        padding-inline: $size;
      }
    }
  }
}