.radio-input {
  opacity: 0;
  position: absolute;
}

.radio-label {
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  transition: all .2s ease-in-out;
  outline: 0px solid purple;
  padding-inline: 3px;
}

.radio-input:checked + .radio-label {
  outline: 3px solid purple;
  padding-inline: 3px;
}
